<%- include("partials/header"); %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><strong class="pl-2"><i class="fas fa-dumpster-fire"></i>  Incentivized Tech Bin</strong></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="/adminConsole/<%=name%>">Home <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/addOffer/<%=name%>">Add Offer</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/deleteOffer/<%=name%>">Delete Offer</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		  </li>
		</ul>
	  </div>
    </nav>
	<div class="container">
		<h2 class="text-dark text-center">Delete the offer</h2>
		
		<div class="card text-white bg-dark border border-white rounded">
			<div class="card-body">
				<form method="POST" action="/deleteOffer/<%=name%>" name="addBus">
				<div class="form-group ">
					<label for="code" class=" font-weight-bold">Code :</label>
					<input type="text" id="name" name="code" placeholder="code" class="form-control" >
					<span id="numberloc" class="text-danger"></span>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-lg btn-warning rounded-pill" >Submit</button>
					<p></p>
				</div>
					<p class="text-center"><%=flag%></p>
			</form>	
			</div>
		</div>
	</div>
<%- include("partials/footer"); %>